.completed {
    color: green;
}

#logout {
    cursor: pointer;
}

.heading {
    margin: 5% 0% 2% 0%;
}

.listHeading {
    margin-top: 5%;
}

.desc {
    width: 50%;
}

.buckets {
    margin: 0% 0% 0% 2%;
}

label {
    font-weight: normal;
    font-size: 1.2em; 
}